.lumiBtn {
  width: 140px;
  height: 40px;
  background-color: #fff8e7;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    background-color: #5e5a59;
    color: #fff8e7;
  }
  &:active {
    color: #2de398;
  }
}
