header {
  position: fixed;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // z-index: 1;
  // background-color: rgba(155, 148, 149, 0.3);

  img {
    margin: auto 60px;
  }
}
