@import url("https://use.typekit.net/zwd8pyt.css");

body {
  // background-color: #da7276;
  background-color: #ce6a6d;
}

// page resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roc-grotesk", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
